<div class="navbar navbar-expand-lg navbar-secondary bg-dark">
    <div class="navbar-brand text-light">
        <a routerLink="" routerLinkActive="active">
            <button class="btn" value="Charts">
                <b class="text-light">Canada Covid Stat</b>
            </button>
        </a>
    </div>
    <div class="navbar-nav">
        <a routerLink="charts" routerLinkActive="active">
            <button class="btn btn-light" value="Charts">
                <b>Charts</b>
            </button>
        </a>
    </div>
</div>
<br>
<app-checkboxes *ngIf="router.url=='/'" ></app-checkboxes>
<br><br>
<app-data-table *ngIf="router.url=='/'"></app-data-table>
<h3 *ngIf="router.url=='/'">Saved Filter:</h3>
<app-saved-filters *ngIf="router.url=='/'"></app-saved-filters>
<router-outlet>
</router-outlet>
